@use "variables";
@use "mixins";

.footer {
    background: variables.$colorFooterBackground;
    padding: 40px 0 20px 0;
}

.footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    max-width: variables.$container;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid variables.$colorBorderFooter;
    padding-bottom: 50px;
}

.footer__top__newslatter {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    p:first-child {
        color: #fff;
    }
    p:last-child {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    .formulaire {
        display: flex;
        align-items: center;
        justify-content: end;
        button {
            @include mixins.primaryButton();
        }
        input {
            width: 240px;
            height: 30px;
            border: none;
            border-bottom: 3px solid variables.$colorPrimary;
            background-color: rgba(255, 255, 255, 0);
        }
        input::placeholder {
            text-transform: uppercase;
            font-size: 20px;
            color: #fff;
        }
    }
}

.footer__top__social {
    display: grid;
    grid-template-columns: 35% 75%;
    img {
        height: 62px;
    }
    p {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
    }
}

.footer__bottom {
    max-width: variables.$container;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    p {
        color: #0bb1b6;
        font-size: 14px;
    }
    span {
        color: #afac9a;
    }
}

.footer__bottom__link ul {
    display: flex;
    margin: 0;
    li a {
        color: #d1d1d1;
        margin-right: 10px;
        text-decoration: none;
    }
}

/* Bordure de séparation du footer */
.border-separate::after {
    content: " ";
    border: 1px solid variables.$colorBorderFooter;
    width: 0;
    height: 100%;
    margin: 0 30px;
}

/* Bouton de retour en haut de la page */
.footer__sticky__sticky-top {
    background-color: variables.$colorPrimary;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    i {
        position: relative;
        font-size: 20px;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
