@use "variables";
@use "mixins";

/* Police pour le texte sous le logo */
@font-face {
    font-family: gobold_thin-webfont;
    src: url(./../fonts/gobold_thin-webfont.woff);
}

.header {
    background: variables.$colorBackground;
    padding: 25px 30px;
    height: 88px;
    display: grid;
    grid-template-columns: 55% 45%;
}

.header__logo {
    img {
        max-width: 250px;
        height: 57px;
    }
    p {
        font-family: gobold_thin-webfont;
        color: variables.$colorSecondary;
        font-size: 16px;
        line-height: 10px;
    }
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    nav i {
        color: variables.$colorSecondaryDark;
        font-size: 34px;
    }
    .header__left__social {
        max-height: 52px;
    }
    .header__left__rechercher {
        max-height: 24px;
    }

    button {
        @include mixins.primaryButton();
    }

    div::after,
    nav::after {
        content: " ";
        position: absolute;
        border-right: 1px solid variables.$colorBorder;
        top: 50%;
        height: 70%;
        bottom: 50%;
        margin: auto 0;
        padding-left: 40px;
    }

    :not(:last-child) {
        padding-right: 80px;
    }
}