/* COULEURS */
$colorPrimary: #e6007e;
$colorSecondary: #02618f;
$colorSecondaryDark: #0e395b;
$colorTitle: #013b68;
$colorParagraph: #646464;
$colorFooterBackground: #26272b;
$colorBorder: #e7e7e7;
$colorBorderFooter: #55565a;
$colorBackground: #fff;


/* Taille du container */
$container : 1300px;