@charset "UTF-8";
/* COULEURS */
/* Taille du container */
/* BOUTONS */
/* Bouton principal */
/* Bouton secondaire */
/* BORDURE */
/* Bordure de séparation */
/* Bordure de couleur */
/* Police pour le texte sous le logo */
@font-face {
  font-family: gobold_thin-webfont;
  src: url(./../fonts/gobold_thin-webfont.woff);
}
.header {
  background: #fff;
  padding: 25px 30px;
  height: 88px;
  display: grid;
  grid-template-columns: 55% 45%;
}

.header__logo img {
  max-width: 250px;
  height: 57px;
}
.header__logo p {
  font-family: gobold_thin-webfont;
  color: #02618f;
  font-size: 16px;
  line-height: 10px;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.header__left nav i {
  color: #0e395b;
  font-size: 34px;
}
.header__left .header__left__social {
  max-height: 52px;
}
.header__left .header__left__rechercher {
  max-height: 24px;
}
.header__left button {
  background-color: #e6007e;
  border-radius: 50px;
  color: #FFF;
  padding: 16px 30px;
  font-size: 17px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
}
.header__left div::after,
.header__left nav::after {
  content: " ";
  position: absolute;
  border-right: 1px solid #e7e7e7;
  top: 50%;
  height: 70%;
  bottom: 50%;
  margin: auto 0;
  padding-left: 40px;
}
.header__left :not(:last-child) {
  padding-right: 80px;
}

.carrousel {
  background-image: url("./../images/banniere.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
}

main {
  max-width: 1300px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.left {
  border-right: 1px solid #e7e7e7;
  padding-right: 50px;
}

/* EVENEMENT */
.left__events {
  border: 1px solid #e7e7e7;
  border-radius: 0 8px 8px 0;
  padding: 14px 15px;
  margin-bottom: 16px;
  border-left: 6px solid #02618f;
}
.left__events ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.left__events li {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0e395b;
}
.left__events li::before {
  content: "\f111";
  font-family: "Font Awesome 6 Free";
  font-size: 12px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  color: #0e395b;
}
.left__events span {
  color: #646464;
}
.left__events button {
  background-color: #e6007e;
  border-radius: 50px;
  color: #FFF;
  padding: 16px 30px;
  font-size: 17px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
}
.left__events p {
  font-size: 12px;
  font-style: oblique;
  text-transform: none;
}

/* HUB & ENJEUx */
.hub_enjeux {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 26px;
  padding-bottom: 26px;
}
.hub_enjeux p {
  text-transform: uppercase;
  font-weight: bold;
  color: #0e395b;
}
.hub_enjeux button {
  background-color: #02618f;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}

/* Image whats-on */
.whats-on {
  width: 100%;
}

.description {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 26px;
  padding-bottom: 26px;
  margin: 20px 0;
}
.description p:first-child {
  color: #0e395b;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.description span {
  color: #e6007e;
  font-weight: bold;
}

.tags {
  font-weight: bold;
}
.tags span {
  color: #e6007e;
  font-style: oblique;
}

/* Bannière rose d'inscription */
.inscription {
  margin: 40px 0;
  padding: 40px 50px;
  background-color: #e6007e;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}
.inscription p {
  color: #fff;
}
.inscription .inscription__right {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inscription button {
  background-color: #e6007e;
  border-radius: 50px;
  color: #FFF;
  padding: 16px 30px;
  font-size: 17px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  background-color: #fff;
  color: #e6007e;
}

.map {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 26px;
  padding-bottom: 26px;
}

.share {
  margin: 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: bold;
}
.share p {
  color: #0e395b;
}

.right__title {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 26px;
  padding-bottom: 26px;
  font-size: 20px;
}
.right__title::before {
  content: url("./../images/Ellipse.png");
  margin-right: 5px;
}

.month__change-month {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.month__change-month img {
  height: 37px;
}

.month {
  margin-bottom: 60px;
}

.month__events {
  border: 1px solid #e7e7e7;
  border-radius: 0 8px 8px 0;
  padding: 14px 15px;
  margin-bottom: 16px;
  border-left: 6px solid #02618f;
}
.month__events p {
  color: #0e395b;
  font-weight: bold;
}
.month__events span {
  color: #646464;
}
.month__events.month__events2 {
  border: 1px solid #e7e7e7;
  border-radius: 0 8px 8px 0;
  padding: 14px 15px;
  margin-bottom: 16px;
  border-left: 6px solid #7d9dd2;
}
.month__events.month__events3 {
  border: 1px solid #e7e7e7;
  border-radius: 0 8px 8px 0;
  padding: 14px 15px;
  margin-bottom: 16px;
  border-left: 6px solid #701145;
}
.month__events.month__events4 {
  border: 1px solid #e7e7e7;
  border-radius: 0 8px 8px 0;
  padding: 14px 15px;
  margin-bottom: 16px;
  border-left: 6px solid #006bb3;
}
.month__events.month__events5 {
  border: 1px solid #e7e7e7;
  border-radius: 0 8px 8px 0;
  padding: 14px 15px;
  margin-bottom: 16px;
  border-left: 6px solid #819ad2;
}

.hub-enjeux button:not(:first-child) {
  display: flex;
  flex-direction: column;
}
.hub-enjeux button:not(:first-child):nth-child(2) {
  background-color: #76a2d9;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(3) {
  background-color: #3991d1;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(4) {
  background-color: #094484;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(5) {
  background-color: #006ab5;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(6) {
  background-color: #016588;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(7) {
  background-color: #2e7f9e;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(8) {
  background-color: #701145;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(9) {
  background-color: #701145;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}
.hub-enjeux button:not(:first-child):nth-child(10) {
  background-color: #a2446b;
  border-radius: 6px;
  color: #FFF;
  padding: 6px 8px;
  border: none;
  width: fit-content;
  margin-top: 12px;
}

.footer {
  background: #26272b;
  padding: 40px 0 20px 0;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #55565a;
  padding-bottom: 50px;
}

.footer__top__newslatter {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
}
.footer__top__newslatter p:first-child {
  color: #fff;
}
.footer__top__newslatter p:last-child {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.footer__top__newslatter .formulaire {
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer__top__newslatter .formulaire button {
  background-color: #e6007e;
  border-radius: 50px;
  color: #FFF;
  padding: 16px 30px;
  font-size: 17px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
}
.footer__top__newslatter .formulaire input {
  width: 240px;
  height: 30px;
  border: none;
  border-bottom: 3px solid #e6007e;
  background-color: rgba(255, 255, 255, 0);
}
.footer__top__newslatter .formulaire input::placeholder {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}

.footer__top__social {
  display: grid;
  grid-template-columns: 35% 75%;
}
.footer__top__social img {
  height: 62px;
}
.footer__top__social p {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.footer__bottom {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.footer__bottom p {
  color: #0bb1b6;
  font-size: 14px;
}
.footer__bottom span {
  color: #afac9a;
}

.footer__bottom__link ul {
  display: flex;
  margin: 0;
}
.footer__bottom__link ul li a {
  color: #d1d1d1;
  margin-right: 10px;
  text-decoration: none;
}

/* Bordure de séparation du footer */
.border-separate::after {
  content: " ";
  border: 1px solid #55565a;
  width: 0;
  height: 100%;
  margin: 0 30px;
}

/* Bouton de retour en haut de la page */
.footer__sticky__sticky-top {
  background-color: #e6007e;
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.footer__sticky__sticky-top i {
  position: relative;
  font-size: 20px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Formatage de la page */
@font-face {
  font-family: malgun;
  src: url(./../fonts/malgun.ttf);
}
body {
  margin: 0;
  font-family: malgun;
}

main {
  background: #fff;
}

p {
  margin: 0;
  color: #646464;
  line-height: 28px;
  font-size: 19px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* TITRES */
h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  color: #0e395b;
}

h3 {
  color: #0e395b;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #0e395b;
}

/*# sourceMappingURL=main.css.map */
